.modal {
  .video {
    padding-right: 0px;
    .OTPublisherContainer {
      // width: 100% !important;
      // height: 24rem !important;
    }
    .modal-footer {
      justify-content: center;
    }
  }
  .chat {
    padding: 0px;
  }
}
