.modalCall {
  .modal-content {
    background: transparent !important;
    border: none;
  }
  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    .publisher {
      text-align: center;
      .OTPublisherContainer {
        .OT_name {
          margin-left: 24px;
          display: flex;
          justify-content: center;
        }
      }
    }

    .publisher > div:nth-child(2) {
      // opacity: 0.5;
      display: flex;
    }

    .publisher > div:nth-child(2) > div {
      // display: block;
      // opacity: 0.5;
      width: 100%;
      min-width: 25%;
    }
    .controls {
      margin-top: auto;
      display: flex;
      justify-content: center;
      background: transparent;

      .hangupIcon {
        border-radius: 25px;
        transition: 0.2s;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
        svg {
          transform: rotate(224deg);
        }
        &:hover {
          transform: translateY(-5px);
        }
      }

      .chatIcon {
        border-radius: 25px;
        transition: 0.2s;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
        background-color: #efefef;
        color: black;
        border: none;
        svg {
          margin-top: -5px;
          margin-left: 2px;
        }
        &:hover {
          transform: translateY(-5px);
          background-color: #dad7d7;
        }
      }

      .controlsBtn {
        margin: 10px;
        background-color: #efefef;
        border-radius: 25px;
        transition: 0.2s;
        &:hover {
          background-color: #dad7d7;
          transform: translateY(-5px);
        }
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px;
          width: 50px;
          height: 50px;
          span {
            font-size: 20px;
            text-align: center;
          }
          input {
            position: absolute;
            top: -20rem;
            opacity: 0;
            &:checked + span {
              color: #48bf84;
            }
          }
        }
      }
    }
  }
  .chat {
    padding: 0px;
  }
}

.connectionStatus {
  padding-top: 20px;
  margin-left: 5%;
  font-size: 1.5em;
}

#error {
  color: red;
}
