.jumbotron {
  margin-top: 1rem;

  .callToActions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .btn {
      display: inherit;
      align-items: center;
      padding: 8px 20px;
      svg {
        margin-left: 5px;
      }
    }
  }
  .introImage {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20rem;
      margin-left: 3rem;
      transition: 0.5s;

      //   overflow: hidden;
      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}
