.modalJoin {
  .modal-content {
    -webkit-box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.75);
    .modal-header {
      justify-content: center;
      border: none;
      align-items: center;
      p {
        margin: 0px;
        span {
          margin-right: 5px;
        }
      }
    }
    .modal-body {
      text-align: center;
      p {
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .modal-footer {
      justify-content: center;
      border: none;
      //   margin-top: 0px;
      //   padding-top: 0px;
    }
  }
}
